<div class="flex justify-center items-center">
  <%= link_to "Enter Culerify!", culerify_path, class: "px-4 py-2 bg-[rgb(168,19,62)] text-[rgb(237,187,0)] text-4xl font-semibold rounded-md font-md" %>
</div>