<h1 class="text-[rgb(237,187,0)] text-2xl font-semibold"> New Culer</h1>

<div class="mt-4">
  <%= render partial: 'form', locals: { url: culerify_path, method_value: :post, submit_text: "Add to Culers!"} %>
</div>